@import 'style.css';

html{
    scroll-behavior: smooth;
    scrollbar-width: none;
    background-color: var(--base);
}

body
{
    width: 100%;
    margin: 0%;
}

.top-bar{
    position: relative;
    overflow-y: hidden;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    img{
        width: 20px;
        height: auto;
    }
    @media screen and (prefers-color-scheme: dark) {
        img{
            filter: invert(100%);
        }
    }
    h1{
        padding-top: 2vh;
        padding-left: 5vh;
        text-shadow: 2px 2px 1px var(--base),
        0px 0px 2px var(--base);
        /*
        background-color: var(--base);
        padding: 3px 10px;
        border-radius:0px 15px 15px 15px;
        */
    }
    ul{
        margin-right: 20px;
        display: flex;
        flex-direction: row-reverse;
        gap: 5px;
        list-style-type: none;
        background-color: var(--base);
        opacity: 90%;
        padding: 3px 10px;
        border-radius:15px 0px 15px 15px;
        li{
            display: none;
            a{
                text-decoration: none;
                color: var(--text);
            }
        }
        
        
    }    
    ul:hover{
        li{
            display: flex;
        }
        li:hover{
            transform: scale(1.1);
        }
    }
    
    @media screen and (max-width: 500px) {
        ul{
            flex-direction: column;
            li:nth-child(5){
            padding-bottom: 6px;
            gap: 1rem;
            }
        }
    }
}



header{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: top;
    background-color: var(--accent);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    overflow: hidden;
    p{
        position: absolute;
        top: 35%;
        text-shadow: 2px 2px 1px var(--base);
        margin: 2vw;
        margin-right: 20vw;
        font-size: x-large;
        background-color: var(--base);
        border-radius:0px 15px 15px 15px;
        padding: 4px 10px;
        opacity: 90%;
    }
}

.about{
    display: inline;
    height: auto;
    width: 50%;
    font-size: x-large;
    pre{
        margin: 1rem;
        font-family:"Overlock", Arial, Helvetica, sans-serif;
    }
}

.contacts{
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 8;
    background-color: var(--highlight);
    h2{
        
    }
}



footer{
    background-color: var(--accent);
    display: flex;
    flex-direction: column;
    a{
        height: 20px;
        align-self: center;
        color: var(--text);
    }
    a:hover{
        color: var(--highlight);
    }
    section{
        height: 4rem;
        width: 100%;
        background-color: var(--highlight);
        align-items: center;
        display: flex;
        justify-content: space-between;
        
        p{
            padding: 10px;
        }
    }
}
