@import 'style.css';

html{
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body
{
    width: 100%;
    margin: 0%;
}

.top-bar{
    position: relative;
    overflow-y: hidden;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    img{
        width: 20px;
        height: auto;
    }
    @media screen and (prefers-color-scheme: dark) {
        img{
            filter: invert(100%);
        }
    }
    h1{
        padding-top: 2vh;
        padding-left: 5vh;
        text-shadow: 2px 2px 1px var(--base),
        0px 0px 2px var(--base);
        /*
        background-color: var(--base);
        padding: 3px 10px;
        border-radius:0px 15px 15px 15px;
        */
    }
    ul{
        margin-right: 20px;
        display: flex;
        flex-direction: row-reverse;
        gap: 1rem;
        list-style-type: none;
        background-color: var(--base);
        padding: 4px 10px;
        border-radius:15px 0px 15px 15px;
        li{
            display: none;
        }
    }
    ul:hover{
        li{
        display: inline;
        }
    }
    
    @media screen and (max-width: 500px) {
        ul{
            flex-direction: column;
        }
    }
}



header{
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('../media/light-port.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    overflow: hidden;
    .bounce{
        background-color: var(--highlight);
        align-self: center;
        animation: bounce 3s linear infinite;
        .wsplink{
            color: var(--accent);
            display: inline;
            text-decoration: none;
            font-size: x-large;
        }    
    }
}

@keyframes bounce {
0% {transform: translate(0, 0);}
7% {transform: translate(0, 10px);}
15% {transform: translate(0, 0);}
100% {transform: translate(0, 0);}
}

@media screen and (orientation: landscape){
    header{
        background-image: url('../media/light-land.jpg');
    }
}

@media screen and (prefers-color-scheme: dark){
    header{
        background-image: url('../media/dark-port.jpg');
    }
}

@media screen and (orientation: landscape) and (prefers-color-scheme: dark){
    header{
        background-image: url('../media/dark-land.jpg');
    }
}

.special{
    position: relative;
    width: 70vw;
    height: auto;
}

.beans{
    background-color: accent;
    width 100%;
    height: auto;
    margin 20px;
}


footer{
    background-color: var(--accent);
    display: flex;
    flex-direction: column;
    a{
        align-self: center;
    }
    section{
        height: 4rem;
        width: 100%;
        background-color: var(--highlight);
        align-items: center;
        display: flex;
        justify-content: space-between;
        p{
            padding: 10px;
        }
    }
}
