@import 'style.css';

html{
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body
{
    width: 100%;
    margin: 0%;
}

.top-bar{
    position: relative;
    overflow-y: hidden;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    img{
        width: 20px;
        height: auto;
    }
    @media screen and (prefers-color-scheme: dark) {
        img{
            filter: invert(100%);
        }
    }
    h1{
        padding-top: 2vh;
        padding-left: 5vh;
        text-shadow: 2px 2px 1px var(--base),
        0px 0px 2px var(--base);
        /*
        background-color: var(--base);
        padding: 3px 10px;
        border-radius:0px 15px 15px 15px;
        */
    }
    ul{
        margin-right: 20px;
        display: flex;
        flex-direction: row-reverse;
        gap: 1rem;
        list-style-type: none;
        background-color: var(--base);
        opacity: 90%;
        padding: 3px 10px;
        border-radius:15px 0px 15px 15px;
        li{
            display: none;
            a{
                text-decoration: none;
                color: var(--text);
            }
        }
        li:nth-child(5){
            padding-bottom: 10px;
        }
        
    }    
    ul:hover{
        li{
            display: flex;
        }
        li:hover{
            transform: scale(1.1);
        }
    }
    
    @media screen and (max-width: 500px) {
        ul{
            flex-direction: column;
        }
    }
}



header{
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('../media/light-port.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    overflow: hidden;
    p{
        position: absolute;
        top: 35%;
        text-shadow: 2px 2px 1px var(--base);
        margin: 2vw;
        margin-right: 20vw;
        font-size: x-large;
        background-color: var(--base);
        border-radius:0px 15px 15px 15px;
        padding: 4px 10px;
        opacity: 90%;
    }
    .bounce{
        background-color: var(--highlight);
        align-self: center;
        animation: bounce 3s linear infinite;
        .wsplink{
            color: var(--accent);
            display: inline;
            text-decoration: none;
            font-size: x-large;
        }
        .wsplink:hover{
            color: var(--text);
        }    
    }
}

@keyframes bounce {
0% {transform: translate(0, 0);}
7% {transform: translate(0, 10px);}
15% {transform: translate(0, 0);}
100% {transform: translate(0, 0);}
}

@media screen and (orientation: landscape){
    header{
        background-image: url('../media/light-land.jpg');
    }
}

@media screen and (prefers-color-scheme: dark){
    header{
        background-image: url('../media/dark-port.jpg');
    }
}

@media screen and (orientation: landscape) and (prefers-color-scheme: dark){
    header{
        background-image: url('../media/dark-land.jpg');
    }
}

.special{
    display: flex;
    position: relative;
    width: auto;
    height: auto;
    border-top: 20px;
    border-color: var(--accent);
    border-style: solid;
    justify-content: center;
    background-image: url('../media/beans.jpg');
}

.spackground{
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 3;
    background-color: var(--base);
    position: relative;
    width: 100vw;
    margin: 20px;
    align-self: center;
    
    h2{
        grid-column: 1/2;
        grid-row: 1;
        font-size:xx-large;
        margin-left: 20px;
    }
    em{
        
        margin-left: 30px;
        grid-column: 1;
        grid-row: 2;
        font-size: medium;
        a{
            color:  var(--text);
        }
        
    }
    p{
        
        margin-left: 40px;
        margin-right: 20px;
        margin-bottom: 20px;
        grid-column: 1/2;
        grid-row: 2;
        grid-row: span 2;
        font-size:medium;
    }
    @media and (max-width: 600) {
        p{
            font-size: small;
        }
        em{
            font-size: small;
        }
        h2{
        font-size:large;
        }
    }
}

.spimg{
    grid-column: 3;
    grid-row: 1/4;
    width: 30vw;
    height: auto;
    justify-self: right;
    margin: 20px;
}

@media screen and (orientation: portrait){
    .special{
        margin: 0;
    }
    .spackground{
        display:flex;
        flex-direction: column;
    }
    .spimg{
        height: auto;
        width: 100vw;
        margin: 0;
    }
}

footer{
    background-color: var(--accent);
    display: flex;
    flex-direction: column;
    a{
        height: 20px;
        align-self: center;
        color: var(--text);
    }
    a:hover{
        color: var(--highlight);
    }
    section{
        height: 4rem;
        width: 100%;
        background-color: var(--highlight);
        align-items: center;
        display: flex;
        justify-content: space-between;
        
        p{
            padding: 10px;
        }
    }
}
