/* menu styles (Preston) */
body {
    width: 100%;
    margin: 0;
}

:root {
    background-color: var(--highlight);
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;    
    align-items: flex-start;
    h1 {
        margin: 2vw;
    }
}

.leftside {
    display: flex;
    align-items: center;
    width: 100%; 
}

.logo {
    width: clamp(100px, 10vw, 800px);
    height: auto;
}

nav {
    width: 100%;
    background-color: var(--base);
    border-radius: 10px;
    ul {
    list-style-type: none;
    display: flex;
    gap: 4vw;
    }
    ul li:hover {
    transform: scale(1.1);
    }
    ul li a {
    text-decoration: none;
    color: var(--text);
    }
}

@media (min-width: 400px) {
    h1 {
        font-size: 1.4rem;
    }
    h2 {
        font-size: 1.2rem;
    }
    .navbar {
        font-size: 1rem;
    }
    p {
        font-size: 0.8rem;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 1.6rem;
    }
    h2 {
        font-size: 1.4rem;
    }
    .navbar {
        font-size: 1.2rem;
    }
    p {
        font-size: 1rem;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 2.2rem;
    }
    h2 {
        font-size: 2rem;
    }
    .navbar {
        font-size: 1.8rem;
    }
    p {
        font-size: 1.2rem;
    }
}

#top-message {
    text-align: center;
    text-transform: capitalize;
    margin-top: 2vw;
}

.food {
    margin-top: 7vw;
    background-color: var(--base);
    margin-left: 10vw;
    margin-right: 10vw;
    border-radius: 10px;
    h2 {
    display: flex;
    justify-content: center; 
    padding-top: 2rem;
    }
}

.snacks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: clamp(220px, 30vw, 320px);
    }
    li:hover {
    transform: scale(1.1);
    }
    img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    }
    p {
    margin-top: 0.5rem;
    }
}

#bottom {
    display: flex;
    flex-direction: column;
    margin-top: 5vw;
    align-items: center;
    text-transform: capitalize;
    background-color: var(--highlight);
    margin-bottom: 20px;
    a {
    text-decoration: none;
    padding: 20px 30px;
    background-color: #FFFFED;
    border-radius: 5px;
    }
    a:hover {
    transform: scale(1.05);
    }
}
