/* CafeLuna Project - Starter Styles */

@media screen and (prefers-color-scheme: light){
    html{
        --text: black;
        --highlight: #c4a484 /*#B18F4A*/;
        --base: #FFE4c4;
        --accent: #322712;
    }
}

@media screen and (prefers-color-scheme: dark){
    html{
        /*default colors for dark mode*/
        --text: #FFFFED;
        --highlight: #580000;
        --base: #8b0000;
        --accent: #190B28;
    }
}

html{
    color-scheme: dark light;
    color: var(--text);
}

body {
    min-height: 100%;
    color: var(--text);
    font-family:"Overlock", Arial, Helvetica, sans-serif;
}

img{
    width: 100%;
    height: auto;
}

h1{
    font-family:"Charmonman", cursive;
}

