/* CafeLuna Project - Starter Styles */

:root{ /*equivalent to html*/
    /*default fonts*/
    /*default colors for light mode*/
}
@media screen and (prefers-color-scheme: light){
    :root{
        --text: black;
        --highlight: #B18F4A;
        --base: #FFC444;
        --accent: #322712;
    }
}

@media screen and (prefers-color-scheme: dark){
    :root{
        /*default colors for dark mode*/
        --text: #E7D7C1;
        --highlight: #BF4342;
        --base: #8C1C13;
        --accent: #190B28;
    }
}

html{
    color-scheme: dark light;
    text-color: --text;

}

body {
    min-height: 100%;
    text-color: --text;
    font-family:"Overlock", sans-serif;
}

img{
    width: 100%;
    height: auto;
}

h1{
    font-family:"Charmonman", cursive;
}

